<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings configSource=".\.\ConfigBDArtec.config"><!--De esta manera se busca el archivo dentro de la carpeta GUI-->
    </connectionStrings>
  <!--<connectionStrings>
    <add name="DataContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Artec;user Id=sa; Password=1234;" />
  </connectionStrings>-->
</configuration>